go 1.21.3

use (
    ./System
    ./ConsoleClient

    ./TCPUtilities
    ./UserUtilities
    ./ServerUtilities
    ./DBUtilities
    ./Utilities
    ./MessageTypes
    ./Ports
    
    ./WebsocketServer
    ./UserServer
    ./HTTPUtilities
    
)
